{% extends "main_base.html" %}

{% block extra_style %}
    <style>
    .a-btn {
        background-color: lightgoldenrodyellow;;
        color: #565221;
        border: 1px solid lightslategray;
        border-radius: 4px;
    }

    .s-title {
        font-size: 0.9em;
        font-weight: bold;
    }

    .review-summary {
        margin-top: 5px;
    }

    .review-summary img {
        float:left;
        width: 80px;
        height:80px;
        object-fit: contain;
        margin: 0 15px 15px 0;
    }

    #searchResult th {
        font-size: 0.9em;
    }

    #searchResult td {
        font-size: 0.8em;
    }

    .dt-paging-button {
        font-size: 0.8em;
    }

    .dt-search {
        font-size: 0.8em;
    }

    </style>
{% endblock %}


{% block main %}

    <!-- start tab contents -->
    <div class="tab-content">

    <!-- nav-home tab -->
        <div class="tab-pane fade  show active" id="nav-home" role="tabpanel">

            <div class="row"  style="min-height: 800px;">
<div class="col-sm-7">
    <div class="m-3 border p-3">
        <div id="reviewDetail">
            Select a review from the Summary List
        </div>
        <div id="viewDetail" style="display: none">
            Details will be here
        </div>
    </div>
</div>
<div class="col-sm-5">
    <div class="m-3">
        <div class="row">
            <div class="col-8">
                <h5 class="pb-0 mb-0">Search Reviews</h5>
                <!-- checkbox for search self reviews, only shown for login users -->
                {% if request.user.is_authenticated %}
                    <div class="control-group pt-1" style="font-size: small;">
                        <label for="searchSelf" class="control px-2">
                            Self Only
                        </label>
                        <input type="checkbox"  class="control" id="searchSelf" />
                    </div>

                    </div>
                    <div class="col-3">
                        <button class="btn btn-sm btn-danger float-end" id="reviewAddBtn">Add New</button>
                    </div>
                {% endif %}
        </div>
        <div class="row"><div class="col-11"><hr /></div></div>

        <div class="row mt-0">
            <div style="width: 95%">
                <table id="searchResult" class="display" style="width: 100%">
                    <thead>
                    <tr>
                        <th>
                            Review Summary List
                        </th>
                        <th> </th>   <!-- this is for detail button with no column header -->
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>

        <div>
            <div class="pt-3 pb-2">
                <h6>Recent Reviews</h6>
            </div>

            <div id="recentReviewDiv">
                {% for review in recent_list %}
                <div class="row">
                    <div class="review-summary">
                        <img src="{{ review.0 }}" class="pe-3 b-btn" data-id="{{ review.4 }}" alt="review photo"/>
                        <ul>
                            <li>{{ review.1 }}</li>
                            <li>{{ review.2 }}</li>
                            <li>{{ review.3 }}</li>
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>


</div>
</div>
    <!----------------------------------------- end of nav-home -->
        </div>

    <!-- nav-tab myreviews -->
        <div class="tab-pane fade" id="nav-myreviews" role="tabpanel">
            <div class="row"  style="min-height: 800px;">
                <div class="col">
                    <h3>Hello MyView Tab!!!</h3>
                </div>
            </div>

    <!------------------------------------- end of nav-myreviews -->
        </div>

    <!------------------------------------ end of nav-tabContent -->
    </div>

{% endblock %}

{% block perpage_script %}
    <script>
        let searchResultTable;

        function render_summary(review, type) {
            if (type === 'display') {
                return `<ul><li>${review[3]}</li><li>Title: ${review[4]}</li><li>Blurb: ${review[1]}</li><li>Review: ${review[5]}</li></ul>`
            } else {
                return review
            }
        }

        function render_button(review_id, type) {
            if (type === 'display') {
                return "<button class='a-btn' data-id='" +
                    review_id + "'>" +
                    '<img src="/static/icons/zoom-in.svg"><img>' + "</button>"
            } else {
                return review_id
            }
        }

        $(function() {

            // init dt
            searchResultTable = $("#searchResult").DataTable({
                {#data: dataSet,#}
                ajax: {
                    url: "{% url 'book_reviews:datasource' %}",
                    type: 'GET',
                    dataSrc: ''
                },
                columnDefs: [
                    {
                        target: 0,
                        visible: true,
                        render: render_summary,
                    },
                    {
                        target: 1,
                        visible: true,
                        width: '30px',
                        render: render_button,
                    }
                ],
                paging: true,
                pageLength: 4,
                length_menu: false,
                info: false,
                ordering: false,
                layout: {
                    topStart: null
                },
            });

            searchResultTable.on("click", ".a-btn", detail_display);

            recentReviewDiv = $("#recentReviewDiv");
            recentReviewDiv.on("click", ".b-btn", detail_display);

            $(document).on("click", "#reviewAddBtn", reviewAdd);
            $(document).on("click", "#reviewSubmitBtn", reviewEditSubmit);
            $(document).on("click", "#reviewCancelBtn", reviewEditCancel);

            $(document).on("click", "#reviewAddCancelBtn", reviewAddCancel);

        });

    </script>

{% endblock %}